<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="tests" thread-count="5">

	
	<test name="Test1">
		<classes>
			<class name="ethoca_tests.Product_Addition_To_Cart" />
		</classes>
	</test>
	
	<test name="Test2">
		<classes>
			<class name="ethoca_tests.Product_Details" />
		</classes>
	</test>
	
	

</suite>
